# Insira aqui o IP da sua API backend
# Se for Emulador Android: http://10.0.2.2:3000
# Se for Emulador iOS ou Web: http://localhost:3000
# Se for celular físico (Expo Go): http://SEU_IP_DA_REDE:3000

EXPO_PUBLIC_API_URL=http://10.0.2.2:3000